
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-normal {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* shared style */
.primary-btn{
    background-color: #E55473;
    color: white;
    font-size: 1.25rem;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
}
   


.section-title{
    color: #272727;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-description{
    color:rgba(39, 39, 39, 0.6);
    font-size: 1.125rem;
    margin-bottom: 3rem;
}






/* header related styles  */
.header{
    background-color: rgba(229, 84, 115, 0.1);
    margin-bottom: 10rem;
}

.header-container{
    max-width: 1440px;
    margin:0 auto;
    display: flex;
    gap: 95px;
}
.header-title{
    color: #272727;
    font-weight: 800;
    font-size: 5rem;
    margin-bottom: 2rem;
    max-width: 700px;
}

.header-describtion{
    max-width: 630px;
    font-size: 1.125rem;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 2rem;
}


/* featured related styles */
.featured-flower-section{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 128px;
}



.feature-content{
    width: 590px;
    margin: 0 auto

}
.feature-img-container{
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}


.flower-img-content div {
    border: none;
    border-radius: 300% 300% 0 0;
    max-width: 29rem; 
    max-height: 37.5rem;
    margin-bottom: 2rem;
}

.flower1{
    padding:110px 76px 0 76px;
    /* padding:6.875rem 4.75rem 2rem 4.75rem; */
    background-color: rgba(167, 33, 98, 0.15);
    max-width: 29rem; 

}

.flower2{
    background-color: rgba(5, 151, 160, 0.15);
    padding:117px 45px 51px 45px;
    max-width: 29rem; 

    /* padding: 7.3125rem 2.8125rem 3.1875rem 2.8125rem ; */
}

.flower3{
    background-color: rgba(71, 125, 17, 0.15);
    padding:67px 75px 0 75px;
    max-width: 29rem; 

    /* padding: 4.1875rem 4.6875rem 0 4.6875rem; */
}

.feature-flower-name{
    font-weight: 700;
    font-size: 1.5rem;
    color:#272727;
}



/* icon section related styles  */
.icon-section{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 128px;
    background-color: rgba(39, 39, 39, 0.05);
}


.icon-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 86px 175px;
    text-align: center;
}

.icon-img{
    margin-bottom: 1.5rem;
}
.icon-text{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
    margin-top: 0px;
   
}



/* offer section related styles  */
.offer-section{
    background-color: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}
.offer-section-container{
    margin:0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}
.offer-section-content{
    max-width: 590px;
    text-align: center;
}
.off-span{
    color: rgba(229, 84, 115, 1);
}

/* instagram section related styles  */
.instagram-section{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 128px;
}

.instagram-section-content{
    max-width: 590px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px ;
}

.instagram-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.instagram-img{
    width: 100%;
    }



/* get deals section related styles */
.get-deals-section{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 128px;
}

.get-deals-section-container{
    background-image:url("/Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 7.625rem 17.25rem;
    border: none;
    border-radius: 8px;
}
.inputAndbtn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="email"]{
    width: 43.75rem;
    /* width: 700px; */
    margin-right: 1rem ;
    padding: 1.375rem;
    color:rgba(39, 39, 39, 0.6);
    border: none;
    border-radius: 8px;
}

.input-btn{
    background-color: #E55473;
    color: white;
    font-size: 1.25rem;
    padding: 1.125rem 1.875rem;
    border: none;
    border-radius: 8px;
}


/* footer related styles  */
footer{
    background-color: rgba(17, 16, 16, 1);
    color: #FFFFFF;
    padding: 128px;
    text-align: center;
}
#footer-description{
    max-width: 600px;
    margin: 0 auto;
    color: #FFFFFF;
    line-height: 1.875rem;
    margin-bottom: 2rem;
}
.footer-title{
    font-weight: 800 ;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.span-flower{
    color: #E55473
}
.footer-text{
    color: rgba(255, 255, 255, 0.4);
}

/* media query related styles */

/* small devices media query  */

@media screen and (max-width: 576px) {
    .header-container,
    .offer-section-container{
        margin: auto 10px;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        text-align: center;
    }

    .header-title{
        text-align: left;
    }
    .feature-content{
        width: 100%;
    }

    .feature-img-container, 
    .instagram-img-container{
        grid-template-columns: 1fr;
        margin:20px;
    }
    .instagram-img{
        width: calc(100%-20px);
        margin-bottom: 30px;
    }

    .flower-img-content div img {
        width:100%;
        margin-bottom: 2rem;
    }

    .icon-container{
        flex-direction: column;
        padding: 20px;
    }
    .icon-content{
        padding: 30px;
    }

    .offer-section-container{
        padding: 20px;
    }
    .offer-section-content{
        margin-bottom: 50px;
    }

    .get-deals-section-container{
        padding:50px 20px;
        /* width: 100%; */
    }
    .inputAndbtn-container{
        width: 100%;
    }

    footer{
        padding: 20px;
    }

}

/* medium devices media query */
@media screen and (min-width: 576px) and (max-width: 992px){
    .header-container{
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    

    .feature-img-container{
        grid-template-columns: repeat(1, 1fr);       
    }

    .flower-img-content div{
        margin: 0 auto;
    }
    .feature-flower-name{
        display: block;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .icon-container{
        flex-direction: column;
        padding: 30px;
    }
    .icon-content{
        padding: 40px;
    }
    .offer-section-container{
        padding:40px 20px;
    }
    .offer-section-img{
        width: 100%;
    }
    .offer-section-content{
        max-width: 500px;
        text-align: center;
    }

    .instagram-img-container{
        grid-template-columns: repeat(2, 2fr);
        margin-left: 30px;
        margin-right: 30px;
        gap: 20px;
    }
    .instagram-img{
        width: calc(100%-50px);
        margin-bottom: 30px;
    }
    .get-deals-section-container{
        margin: 20px;
        padding:60px 20px;
        /* width: 100%; */
    }
    .inputAndbtn-container{
        width: calc(100%-20px);
    }
    footer{
        padding: 40px;
    }

}

/* large-devices  */
@media screen and (min-width: 992px) and (max-width: 1400px){
    .feature-img-container{
        margin: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .flower-img-content div{
        width:calc(100%-50px);

    }

}