
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-normal {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style */
.primary-btn{
    background-color: #E55473;
    color: white;
    font-size: 1.25rem;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
}
   


.section-title{
    color: #272727;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-description{
    color:rgba(39, 39, 39, 0.6);
    font-size: 1.125rem;
    margin-bottom: 3rem;
}






/* header related styles  */
.header{
    background-color: rgba(229, 84, 115, 0.1);
    margin-bottom: 10rem;
}

.header-container{
    Width: 100%;
    max-width: 1440px;
    margin:0 auto;
    padding: 50px;
    display: flex;
    gap: 95px;
}
.header-title{
    color: #272727;
    font-weight: 800;
    font-size: 5rem;
    margin-bottom: 2rem;
    max-width: 700px;
}

.header-describtion{
    max-width: 630px;
    font-size: 1.125rem;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 2rem;
}


/* featured related styles */
.featured-flower-section{
    width: 100%;
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 128px;

}




.feature-content{
    width: 590px;
    margin: 0 auto

}
.feature-img-container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


.flower-img-content div {
    width: 100%;
    border-radius: 300px 300px 0 0;
    margin-bottom: 2rem;
    /* border: none;
    border-radius: 300% 300% 0 0;
    width: 100%; 
    max-height: 37.5rem;
    margin-bottom: 2rem; */
}


.flower1, 
.flower2, 
.flower3{
  
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border-radius: 300px 300px 0 0; */
}

.flower1{
    background-color: rgba(167, 33, 98, 0.15);
}

.flower2{
    background-color: rgba(5, 151, 160, 0.15);
}

.flower3{
    background-color: rgba(71, 125, 17, 0.15);
}

.feature-flower-name{
    font-weight: 700;
    font-size: 1.5rem;
    color:#272727;
}



/* icon section related styles  */
.icon-section{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 128px;
    background-color: rgba(39, 39, 39, 0.05);
}


.icon-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 86px 175px;
    text-align: center;
}

.icon-img{
    margin-bottom: 1.5rem;
}
.icon-text{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
    margin-top: 0px;
   
}



/* offer section related styles  */
.offer-section{
    background-color: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}
.offer-section-container{
    margin:0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}
.offer-section-content{
    max-width: 590px;
    text-align: center;
}
.off-span{
    color: rgba(229, 84, 115, 1);
}

/* instagram section related styles  */
.instagram-section{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    margin-bottom: 128px;
}

.instagram-section-content{
    max-width: 590px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px ;
}

.instagram-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.instagram-img{
    width: 100%;
    }



/* get deals section related styles */
.get-deals-section{
    /* width: 100%; */
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 128px;
}


/* .get-deals-section-container{
   
    background-image: url("/Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
} */
.get-deals-section-container{
    background-image:url("/Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 7.625rem 17.25rem;
    border: none;
    border-radius: 8px;
}
.inputAndbtn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="email"]{
    width: 43.75rem;
    /* width: 700px; */
    margin-right: 1rem ;
    padding: 1.375rem;
    color:rgba(39, 39, 39, 0.6);
    border: none;
    border-radius: 8px;
}

.input-btn{
    background-color: #E55473;
    color: white;
    font-size: 1.25rem;
    padding: 1.125rem 1.875rem;
    border: none;
    border-radius: 0.5rem;
}


/* footer related styles  */
footer{
    background-color: rgba(17, 16, 16, 1);
    color: #FFFFFF;
    padding: 128px;
    text-align: center;
}
#footer-description{
    max-width: 600px;
    margin: 0 auto;
    color: #FFFFFF;
    line-height: 1.875rem;
    margin-bottom: 2rem;
}
.footer-title{
    font-weight: 800 ;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.span-flower{
    color: #E55473
}
.footer-text{
    color: rgba(255, 255, 255, 0.4);
}

/* media query related styles */

/* small devices media query  */

@media screen and (max-width: 576px) {
    .header-container,
    .offer-section-container{
        margin: auto 0;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        text-align: center;
        padding: 20px;
    }

    .header-title{
        /* text-align: left; */
        font-size: 3.5rem;
    }
    .feature-content{
        width: 100%;
    }

    .feature-img-container, 
    .instagram-img-container{
        grid-template-columns: 1fr;
        /* margin-right:10px; */
        margin:0px;
    }

    .flower1, 
    .flower2, 
    .flower3{
        /* margin: 0px; */
        height: 400px;
        width: 100%;
        padding: 0 30px;
       
    }
    .instagram-img{
        width: 100%;
        margin-bottom: 30px;
    }

    .flower-img-content div img {
        width: 100%;
    }
    .flower-img-content div{
        margin-bottom: 2rem;
    }
    .flower-img-content{
        margin-bottom: 3rem;
    }

    .icon-container{
        flex-direction: column;
        padding: 20px;
    }
    .icon-content{
        padding: 30px;
    }

    .offer-section-container{
        padding: 20px;
    }
    .offer-section-content{
        margin-bottom: 50px;
    }

    .get-deals-section-container{
        padding:50px 10px;
        /* width: 100%; */
        /* margin: 20px; */
    }
    .inputAndbtn-container{
        flex-direction: column;
        margin: 0 20px;
        width:calc(100% - 40px);

        /* width: 100%; */
    }
    input[type="email"]{
        margin: 0;
        margin-bottom: 30px;
        width: calc(100% - 40px) ;
    }
    .input-btn{
        justify-items: right;
    }


    footer{
        padding: 20px;
    }

}

/* medium devices media query */
@media screen and (min-width: 576px) and (max-width: 992px){
    .header-container{
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    

    .feature-img-container{
        grid-template-columns: repeat(2, 1fr);  
        grid-template-rows: auto;    
        padding: 0; 
    }

    .flower-img-content div{
        margin: 0 auto;
    }
    .feature-flower-name{
        display: block;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .icon-container{
        flex-direction: column;
        padding: 30px;
    }
    .icon-content{
        padding: 40px;
    }
    .offer-section-container{
        padding:40px 20px;
    }
    .offer-section-img{
        width: 100%;
    }
    .offer-section-content{
        max-width: 500px;
        text-align: center;
    }

    .instagram-img-container{
        grid-template-columns: repeat(2, 2fr);
        margin-left: 30px;
        margin-right: 30px;
        gap: 20px;
    }
    .instagram-img{
        width: calc(100%-50px);
        margin-bottom: 30px;
    }
    .get-deals-section-container{
        margin: 20px;
        padding:60px 20px;
        /* width: 100%; */
    }
    .inputAndbtn-container{
        width: calc(100%-20px);
        padding: 0 50px;
    }
    footer{
        padding: 40px;
    }

    .instagram-section{
        width: 100%;
        padding: 10px;
    }
    /* .get-deals-section-container{
        margin: 0 20px;
    } */
}

